<div class="container-fluid">
    <div>
        <div class="row bg-success sticky-top" style="height: 50px">
            <h2 style="color:green">Ayurvedic Products</h2>
        </div>
        <div>
            <button (click)="processLogout()">Logout</button>
        </div>
    </div>
    

    <div class="row justify-content-center align-items-center">
        <div class="row container-fluid col-10 mt-5">
            
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1513763666conditionerdamagecontrol5.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Hair Conditioner</div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_400x500AMT_3236.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Divya Churna </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_400x500YouvanChurna100g.png" alt="" srcset="" style="height:200px;width: 200px;object-fit:cover;"><div>Youvan Churna </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/400x500MaharasnadiKwath.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>MaharasnadiKwath </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1514272142RoastedMixtureLime400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Mixture Lime </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1514268528PatanjaliMelonnFlaxseed400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Flaxseeds </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1514271838PatanjaliRiceCrispyMixture400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Rice Crispy </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1538725630powervitarefilpack400-500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Power Vita </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1513142143Greenflush400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Green Cleaner </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1513233817aloeverafibreplain400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Aloe Vira Juice </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1514272015PatanjliQuinoaPuffMasalaFlavour400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Quinoa </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/AMLAALOEVERAJUICEWITHLICHIFLAVOUR400500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Amla Juice </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_1577857196400x500.jpg" alt="" srcset="" style="height:200px;width: 200px;object-fit:cover;"><div>Chyawanprash </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_1577274187400x500.jpg" alt="" srcset="" style="height:200px;width: 200px;object-fit:cover;"><div>Ashwagandha </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_1590752915400x500.jpg" alt="" srcset="" style="height:200px;width: 200px;object-fit:cover;"><div>Muesli </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1594122182400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Usirava </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1593253580400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Swaswari Vati </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src=" https://www.patanjaliayurved.net/assets/product_images/400x500/1567237313DenguenilVati400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Dengunil Vati </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1596177127400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Havan Samagrhi </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1594276867400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Honey </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1591005652400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Elaichi Biscuit </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1594122673400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Doodh Biscuit </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1576653030400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Elaichi Biscuit </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1570617604400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Candle </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1543834716Superdishwashbar280g400-500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Dish Wash</div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1513762196BADAMPAK-500GM.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Badam Pak </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1513234988MANGOPANNA-750MLcopy400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Mango Panna</div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1535095634bura400-500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Burra Sugar</div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>            
        </div>

        
        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_1577274187400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Ashwagandha </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>  
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1543920878MARRIEBISCUIT400-500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Marie Biscuit </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>  
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/thumbs/350_360_1596175546400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Chyavanprash </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1594619568400x500.jpg" alt="" srcset="" style="height:200px;width: 200px;object-fit:cover;"><div>Peedantak Taila </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1593244771400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Khush Sharbat </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1514268684PatanjaliOatMixWasabiFlavou400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Oat Mix </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1504939334400 x 500 Pradarsudha Syrup (Leucorrhea).png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Syrup </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1570622502400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Deepak Jyoti </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            
        </div>

        <div class="row container-fluid col-10 mt-5">
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1594277031400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Glass Cleaner </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1514971920divyakantilep400x500.png" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Divya Kanti Lep </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1590754138400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Poha </div>Rs. 100 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
            <div class="col-md-3 col-12" style="text-align: center;"><img src="https://www.patanjaliayurved.net/assets/product_images/400x500/1590990109400x500.jpg" alt="" style="height:200px;width: 200px;object-fit:cover;"><div>Daliya </div>Rs. 200 <button><fa-icon [icon]="faShoppingCart"></fa-icon></button></div>
        </div>
        
        <div class="row container-fluid col-10 mt-2">

        </div>


    </div>       






</div>